body {
    background: linear-gradient(180deg, rgba(33,47,67,1) 8%, rgba(50,70,100,1) 42%) no-repeat fixed;
}

.navbar-brand img {
    width: 50px;
}

#header1 {
    border-width: 0;
}

.textplocha {
    background: rgb(40,50,55);
    box-shadow: 0 0 2rem rgb(0 0 0);
}

.tlacitko-pridaj {
    box-shadow: 0 0 0.5rem rgb(0 0 0);
}

.pod-novinkou {
    background: linear-gradient(180deg, rgba(34,36,42,1) 0%, rgba(51,48,48,1) 100%);
}